extends ../request.pug

block content
  h5 Attributes
  .row
    div(class="col s6")
      select(id="" name="ability")
        option(value="" disabled selected) Ability
        option(value="") #{pokedex.charmander.abilities[0]}