footer(class="page-footer")
  div(class="container")
    div(class="row")
      div(class="col l6 s12")
        h5(class="") Welcome
        p(class="") This site was designed and built by Jevon Thomas, using Materialize and Node.js. The purpose of this site is to create a hub for trainers to make more specific trade requests than GTS allows. Special thanks to 
          a(href="https://dbrown.tech/")
            |David Brown
          |   for helping with deploying this site. 
      div(class="col l4 offset-l2 s12")
        h5(class="") Links
          li
            a(class="footer-links" href="https://github.com/jevonthomas/Pokemon-Social-Marketplace") Github Repository for this site
          li
            a(class="footer-links" href="https://github.com/PokeAPI/sprites") PokeAPI's Github Repository for all sprites
          li
            a(class="footer-links" href="https://github.com/veekun/pokedex") Veekun's Github Repository for all data files
          li
            a(class="footer-links" href="http://jevonthomas.com") Site creator
  div(class="footer-copyright")
    div(class="container") All content and design © 2017 Pokemon Social Marketplace. Pokémon images and names © 1995-2017 Nintendo/Game Freak.