if session.passport
  span #{session.passport.user.username}
  //- form(method="POST")
  //-   button(type="submit" formaction="/logout") logout

  nav
    .container
      div(class="nav-wrapper")
        a(href="#!" class="brand-logo")
          img(src="/images/pokebay.png")
        a(href="#" data-activates="mobile-demo" class="button-collapse")
          i(class="material-icons") menu
        ul(class="right hide-on-med-and-down")
          li 
            a(href="/home") Home
          li 
            a(href="/request/new") Post New Request
          li 
            a(href="/request/user/"+session.passport.user.id) My Requests
          li
            a(href=`/inbox/${session.passport.user.id}/`) Inbox
          li
            a(href="/account/"+session.passport.user.id) My Profile
        ul(class="side-nav" id="mobile-demo")
          li 
            a(href="/home") Home
          li 
            a(href="/request/new") Post New Request
          li 
            a(href="/request/user/"+session.passport.user.id) My Requests
          li
            a(href=`/inbox/${session.passport.user.id}/`) Inbox
          li
            a(href="/account/"+session.passport.user.id) My Profile