extends request.pug

block content
  h5 Which Pokemon Are You Looking For?
  div(class="row")
    form(class="col s12" name="offer" method="post" action=``)
      div(class="row")
        div(class="input-field col s6")
          input(placeholder="Search" id="search" type="text" class="validate" name="search")
      input.btn(type="submit" value="Search" class="pink-button")
  each pokes in pokemon
    a(href=`new/${pokes.pokemon_id}/${pokes.identifier}/`)
      img(class="responsive-img" id="avatar" src=`/sprites/pokemon/${pokes.pokemon_id}.png` alt=pokes.identifier)