extends request.pug

block content
  h5 Which Pokemon Do You Want?
  each pokes in pokemon
    a(href="new/"+pokes.pokemon_id)
      img(class="responsive-img" id="avatar" src=`/sprites/pokemon/${pokes.pokemon_id}.png` alt=pokes.identifier)