doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    meta(name="description" content="If you are looking for someone who has a specific Pokemon that you are looking for? This site is not a replacement for the GTS, but allows for more specific request, such as what nature and ability you want the Pokemon you are looking for to have.")
    title Pokemon Social Marketplace
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")

  body
    include partials/nav.pug
    div.index
      block content
        .container
          .index-form
            .row
              div(class="col s12")
                img(class="logo-index" src="/images/pokebay.png")
                h4(class="white-text center-align") Pokemon Social Marketplace
            .row
              div(class="col s12")
                form(action="/login", method="post")
                  .input-field
                    input(class="white-text" type="email" placeholder="email" name="email")
                  .input-field
                    input(class="white-text" type="password" placeholder="password" name="password")
                  .row
                    div(class="col s12")
                      button(class="btn waves-effect waves-light pink-button col s12" type="submit" name="action") login
                button(id="showRegister" class="btn waves-effect waves-light purple-button col s12" name="action") register
        
    script
      include ../node_modules/jquery/dist/jquery.min.js
      include ../node_modules/materialize-css/dist/js/materialize.min.js
    script(src="/client/client.js" type="text/javascript")
