doctype html
html
  head
    title Pokemon Social Marketplace
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

  body
    .container
      h2 Which of your Pokemon are you willing to trade?
      form#signin(name="offer" method="post" action="/request/offer")
        div.row
          div(class="input-field col s6")
            input(id="name" type="text" class="validate" name="name" value="null")
            label(for="name") Name

          div(class="input-field col s6")
            input(id="ability" type="text" class="validate" name="ability" value="null")
            label(for="ability") Ability

            
          div(class="input-field col s6")
            input(id="nature" type="text" class="validate" name="nature" value="null")
            label(for="nature") Nature

          div(class="input-field col s6")
            input(id="gender" type="text" class="validate" name="gender" value="null")
            label(for="gender") Gender

        div.row
          div(class="input-field col s6")
            input(id="item" type="text" class="validate" name="item" value="null")
            label(for="item") Item

          div(class="input-field col s6")
            input(id="level" type="number" class="validate" name="level" value="50")
            label(for="level") Level

          div(class="input-field col s6")
            input(id="move_1" type="text" class="validate" name="move_1" value="null")
            label(for="move_1") Move 1

          div(class="input-field col s6")
            input(id="move_2" type="text" class="validate" name="move_2" value="null")
            label(for="move_2") Move 2

          div(class="input-field col s6")
            input(id="move_3" type="text" class="validate" name="move_3" value="null")
            label(for="move_3") Move 3

          div(class="input-field col s6")
            input(id="move_4" type="text" class="validate" name="move_4" value="null")
            label(for="move_4") Move 4

          div(class="input-field col s6")
            input(id="hp_iv" type="number" class="validate" name="hp_iv" value="31")
            label(for="hp_iv") HP IV

          div(class="input-field col s6")
            input(id="attack_iv" type="number" class="validate" name="attack_iv" value="31")
            label(for="attack_iv") Attack IV

          div(class="input-field col s6")
            input(id="defense_iv" type="number" class="validate" name="defense_iv" value="31")
            label(for="defense_iv") Defense IV

          div(class="input-field col s6")
            input(id="sp_att_iv" type="number" class="validate" name="sp_att_iv" value="31")
            label(for="sp_att_iv") Sp. Attack IV

          div(class="input-field col s6")
            input(id="sp_def_iv" type="number" class="validate" name="sp_def_iv" value="31")
            label(for="sp_def_iv") Sp. Defense IV

          div(class="input-field col s6")
            input(id="speed_iv" type="number" class="validate" name="speed_iv" value="31")
            label(for="speed_iv") Speed IV

        input.btn(type="submit" value="Submit Offer")

    script
      include ../node_modules/jquery/dist/jquery.min.js
      include ../node_modules/materialize-css/dist/js/materialize.min.js
      include ../javascript/main.js
