body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.index {
  height: 100vh;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.full-screen {
  height: 100vh;
}

.container {
  width: 90%;
}

li {
  list-style: none;
}

.logo-index {
  display: block;
  margin: auto;
  width: 40%;
}

.index-form {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 20px;
}

.index-container {
  padding: 20px 150px;
}

.row, .col {
  margin: 0;
}

nav, .page-footer {
  background-color: #7a4899;
}

nav {
  margin: 0 0 25px 0;
}

.page-footer {
  margin: 25px 0 0 0;
}

.footer-links {
  font-size: 0.5em;
  color: white;
}

.footer-links:visited {
  color: #e708e0;
}

.footer-links:hover {
  color: #e880e4;
}


.brand-logo img {
  padding-top: 10px;
}

.home-section {
  border: 0.5px solid rgba(163, 163, 163, 0.315);
}

.name {
  text-transform: uppercase;
  color: #e880e4;
  font-weight: bolder;
}

.border {
  border: 1px solid #b0a7b0;
}

.indicator {
  color: #7a4899;
  font-weight: bold;
}

.area {
  padding: 20px;
}

.pink-button {
  background-color: #e880e4;
}

.pink-button:active {
  background-color: #e880e4;
}

.pink-button:hover {
  background-color: #e708e0;
}

.purple-button {
  background-color: #7a4899;
}
.purple-button:active {
  background-color: #7a4899;
}

.purple-button:hover {
  background-color: #5c0195;
}