.index {
  height: 100vh;
  background-image: url("/images/background.jpg");
}

.container {
  width: 90%;
}

.row, .col {
  margin: 0;
}

nav {
  background-color: #7a4899;
}

.brand-logo img {
  padding-top: 10px;
}

.home-section {
  border: 0.5px solid rgba(163, 163, 163, 0.315);
}

.name {
  text-transform: uppercase;
  color: #e880e4;
  font-weight: bolder;
}

.responsive-img {
  border: 1px solid #b0a7b0;
}

.indicator {
  color: #7a4899;
  font-weight: bold;
}

.area {
  padding: 20px;
}